#data-table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    mat-spinner{
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    ::ng-deep .custom-spinner circle {
        stroke: rgb(104, 98, 194);
    }
    table{
        width: 100%;
        min-width: 700px;
        td, th{ 
            word-break: break-all;
            text-align: center;
        }
        tr{

            &:hover{
                cursor: pointer;
            }
            &.selected{
                background-color: rgb(220, 238, 245);
            }
        }
    }

    #add-btn-container{
        margin: 20px 0 10px 0;
    }


}