<app-table-component  (rowClicked)="onRowClicked($event)" (openForm)="openForm()" [selectedSimulation]="selectedSimulation"></app-table-component>
@if (selectedSimulation){ 
    <span class="separator"></span>
    <app-option-modal (cancelClicked)="resetSelection()" (deleteSimulation)="deleteSimulation($event)" [selectedSimulation]="selectedSimulation" @fadeIn></app-option-modal>
 } 
@if (showCreationForm){
    <span id = "simulation-form-container"></span>
    <div id="simulation-form-popup">
        <app-simulation-form (formSuccess)="handleFormSuccess($event)" (formError)="handleFormError($event)" (closeForm)="closeForm()"></app-simulation-form>
    </div>

}

